---
layout: default
title: Library
permalink: /library/
---

<!-- Library -->
<div id="library">
<section>
    <div class="container">
    <header>
        <h2>Library</h2>
    </header>

    {% assign items_grouped = site.data.library | group_by: 'category' | sort: 'name' %}

    <div class="library-list-container">
        {% for category in items_grouped  %}
        <div class="library-list">
            <h2>{{ category.name }}</h2>

            <ul>
                {% assign items = category.items | sort: 'title' %}
                {% for item in items %}
                <li>
                    <a href="{{ item.link }}" target="_blank" _rel="noreferrer noopen">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>


    </div>
    </section>
</div>